.backcolor {
  position: absolute;
  width: 500.61px;
  height: 300.69px;
  right: 900px;
  top: 200.71px;

  background: linear-gradient(
    284.17deg,
    #d1c0ff 12.47%,
    #52d5ad 46.53%,
    #b5ffe9 79.98%
  );
  border: 0.3px dashed #09aeae;
  filter: blur(300px);
  transform: rotate(-141.75deg);
}
